@font-face {
    font-family: "Chillax";
    src: url("../public/fonts/Chillax-Medium.otf");
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}


.App{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}