@font-face {
    font-family: "Chillax";
    src: url("../public/fonts/Chillax-Medium.otf");
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}


.content{
    width: 100vw;
    height: 100vh;
    background-color: #222831;
    color: #F6F1E9;
}